<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>东南大学校团委</title>
    <link type="text/css" href="css/main.css" rel="stylesheet"/>
</head>
<body>

<!--头图-->
<div class="youth-banner-background">
    <img style="width:1000px;height:150px;" src="img/temp.png"/>
</div>

<!--导航栏-->
<div class="youth-nav-background" id="youth-navbar">
    <div class="youth-nav" frag="面板1">
        <div class="youth-nav" frag="窗口1">

        </div>
    </div>
</div>


<div class="youth-window-group">
    <div class="youth-window-sub-group">
        <div class="youth-article" style="flex-basis:0;flex-grow:1">
            <div frag="面板2">
            <div class="article-title" frag="窗口2" portletmode="simpleArticleAttri">
                <div frag="窗口内容">
                    {标题}
                </div>
            </div>
          </div>
            <div frag="面板3">
            <div class="article-detail">
                <div  frag="窗口4" portletmode="simpleArticleAttri">
                    <div frag="窗口内容">
                        发布时间：{发布时间}
                    </div>
                </div>
                <div  frag="窗口5" portletmode="simpleArticleAttri">
                    <div frag="窗口内容">
                        发布者：{发布者}
                    </div>
                </div>
                <div frag="窗口6" portletmode="simpleArticleAttri">
                    <div frag="窗口内容">
                        文章来源：{文章来源}
                    </div>
                </div>
                <div frag="窗口7" style="display:flex" portletmode="simpleArticleAttri">
                    <div frag="窗口内容">
                        浏览次数：{浏览次数}
                    </div>
                </div>
            </div>
          </div>
            <div frag="面板4">
              <div class="article-content" frag="窗口3" portletmode="simpleArticleAttri">
                <div frag="窗口内容">
                    {内容}
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
<!--友情链接-->
<div class="youth-link-panel">
    <div class="youth-link-index">
        <a class="youth-link" href="http://www.seu.edu.cn">东南大学</a>
        <a class="youth-link" href="http://my.seu.edu.cn">东南大学校园信息门户</a>
        <a class="youth-link" href="http://jwc.seu.edu.cn">教务处</a>
        <a class="youth-link" href="">东南大学网络与信息中心</a>
        <a class="youth-link" href="">中国共青团网</a>
    </div>
</div>
<!--    版权标识-->

<div class="youth-copyright-panel">
    <p class="youth-copyright-text">中国共青团东南大学委员会©版权所有</p>
    <p class="youth-copyright-text">备案序号：苏ICP证201008206600号</p>
</div>
</body>
<link type="text/css" href="css/main.css" rel="stylesheet"/>
</html>
