<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>共青团东南大学委员会</title>
<link href="main.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="login" class="width">
<table cellpadding="0" cellspacing="0" border="0" width="100%" height="28">
<tr>
<td width="5px">&nbsp;</td>
<td width="60">站点统计：</td>
<td width="80">
<div frag="面板1"> 
<div frag="窗口1"> 
<div frag="窗口内容"> 
<!--[WP1TO3]--> 
<table cellpadding="0" cellspacing="0" border="0" width="100%" height="28"><tr><td>(频道)</td></tr></table> 
</div> 
</div> 
</div> 
</td>
<td>&nbsp;</td>
<td width="300">
<div frag="面板2"> 
<div frag="窗口2"> 
<div frag="窗口内容"> 
<!--[WP1TO3]--> 
<table cellpadding="0" cellspacing="0" border="0" width="100%" height="28"><tr><td>(频道)</td></tr></table> 
</div> 
</div> 
</div> 
</td>
</tr>
</table>
</div>
<img id="logo"  src="images/logo.jpg" width="1000" height="206"  />
<div id="nav" class="width">

<div frag="面板3"> 
<div frag="窗口3"> 
<div frag="窗口内容"> 
<!--[WP1TO3]--> 
<table cellpadding="0" cellspacing="0" border="0" align="center">
<tr>
<td>(频道)</td>
</tr>
</table> 
</div> 
</div> 
</div> 

</div>
<div id="content" class="width">

<div frag="面板4"> 
<div frag="窗口4" portletmode="simpleColumnList"> 
<div frag="窗口内容"> 
<!--[WP1TO3]--> 
<table width="250" style="float:left; margin-bottom:10px" border="0" cellpadding="0" cellspacing="0">
<tr>
<td colspan="2" align="left" class="lm">(栏目列表)</tr>
<tr>
<td height="25" width="10">&nbsp;</td>
<td>
<table width="100%" height="25" border="0" cellspacing="0" cellpadding="0">
<tr>
<td align="center" width="16"><img src="images/arrow2.gif" width="8" height="9"></td>
<td align="left">(二级栏目)</td>
 </tr>
</table>
</td></tr>
</table> 
</div> 
</div> 
</div> 

<div  id="lm_title_frame">
<div style="float:left" id="lm_title">
<span frag="面板7"> 
<span frag="窗口7" portletmode="simpleColumnName" style="display: block; text-align: left;"> 
<span frag="窗口内容">栏目名称</span> 
</span> 
</span> 
</div>
<div id="location"> 当前位置：
<span frag="面板6"> 
<span frag="窗口6" portletmode="simpleColumnPosition" style="text-align: left;"> 
<span frag="窗口内容">当前位置</span> 
</span> 
</span> 
&nbsp;&nbsp;</div> 
</div>
<div id="lm_list" >

<div frag="面板5"> 
<div frag="窗口5" portletmode="simpleList"> 
<div frag="窗口内容"> 
<!--[WP1TO3]--> 
<table width="100%" style="float:left;" border="0" align="center" cellpadding="0" cellspacing="2" class="p9">
                          <tr>
                            <td width="16" valign="middle" ><img src="images/dot2.gif" width="10" height="10"></td>
                            <td align="left">(文章列表)</td>
                          </tr>
                          <tr>
                            <td height="1" colspan="2" background="images/dotline.gif" class="main_shadow"></td>
                          </tr>
                      </table> 
</div> 
</div> 
</div> 

 </div>
<div style="clear:both; height:35px;">&nbsp;</div>
<div id="footer">版权所有&copy;共青团东南大学委员会&nbsp;&nbsp;&nbsp;&nbsp;技术支持：南京苏迪科技|东南大学计算机学院网络部 </div>
</div>
</body>
</html>
    

