<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>东南大学校团委</title>
    <link type="text/css" href="css/main.css" rel="stylesheet"/>
</head>

<body>

    <!--头图-->
    <div class="youth-banner-background">
        <img style="width:1000px;height:150px;" src="img/temp.png"/>
    </div>
    
    <!--导航栏-->
    <div class="youth-nav-background">
            <div class="youth-nav" frag="面板1">
                <div class="youth-nav" frag="窗口1">
                    
                </div>
            </div>
        </div>
    
 
<!--友情链接-->
    <div class="youth-link-panel">
        <div class="youth-link-index">
        <a class="youth-link" href="http://www.seu.edu.cn">东南大学</a>
        <a class="youth-link" href="http://www.ccyl.org.cn">中国共青团</a>
        <a class="youth-link" href="http://www.jiangsugqt.org">江苏省共青团</a>
        <a class="youth-link" href="">东南大学学生会</a>
        <a class="youth-link" href="">东南大学研究生学生会</a>
        <a class="youth-link" href="">东南大学学生团体联合会</a>
        </div>
    </div>
<!--    版权标识-->

        <div class="youth-copyright-panel">
            <p class="youth-copyright-text">中国共青团东南大学委员会©版权所有</p>
            <p class="youth-copyright-text">备案序号：苏ICP证201008206600号</p>
        </div>
</body>
     <link type="text/css" href="css/main.css" rel="stylesheet"/>
</html>