<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>东南大学校团委</title>
    <link type="text/css" href="css/main.css" rel="stylesheet"/>
</head>
<body>

<!--头图-->
<div class="youth-banner-background">
    <img style="width:1000px;height:150px;" src="img/temp.png"/>
</div>

<!--导航栏-->
<div class="youth-nav-background" id="youth-navbar">
    <div class="youth-nav" frag="面板1">
        <div class="youth-nav" frag="窗口1">

        </div>
    </div>
</div>

<div class="youth-slide-background" id="youth-slides">
    <div class="youth-slide" frag="面板2">
        <div class="youth-slide" frag="窗口2">
        </div>
    </div>
</div>

<div class="youth-slide-panel">
    <!--轮播图-->
    <div class="youth-slide-sub" >
        <div class="youth-slide-list" style="flex-basis:0;flex-grow:1">
            <div frag="面板3">
                <div frag="窗口3">
                    <div class="youth-big-window-title" style="">
                        <h3 class="youth-window-title-text" style="flex-grow:1;">团学快讯</h3>
                        <div class="youth-window-more-btn" frag="按钮" type="更多"><span class="more_text" frag="按钮内容">更多&gt;&gt;</span>
                        </div>
                    </div>
                    <div class="mix-content-list" style="display:flex;flex-direction:row;justify-content:center;align-items:flex-start;">
                        <div frag="窗口内容">
                          <div style="display:flex;flex-direction:row;justify-content:center;align-items:flex-start;">
                            <div class="youth-mix-content">
                                <div class="article-pic">{缩略图}</div>
                                <div class="article-mix-title">{标题}</div>
                                <div class="article-date" style="padding-left:0px">{发布时间}</div>
                                <div class="article-abstract">{内容}</div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="youth-slide-list" style="flex-basis:0;flex-grow:1">
            <div frag="面板4">
                <div frag="窗口4">
                    <div class="youth-big-window-title">
                        <h3 class="youth-window-title-text" style="flex-grow:1">通知公告</h3>
                        <div class="youth-window-more-btn" frag="按钮" type="更多"><span class="more_text" frag="按钮内容">更多&gt;&gt;</span>
                        </div>
                    </div>
                    <div class="youth-window-content">
                        <div frag="窗口内容">
                            <div style="display:flex;align-items:center;margin-top:10px">
                                <div style="border-style:solid;border-color:#E72520;border-width:2px;border-top-width:15px;padding:2px 4px 2px 4px;font-weight:bolder;color:#E72520;background-color:#FFFFFF">{发布时间}</div>
                                <div class="notification-title" style="flex-grow:1;text-align:center;text-decoration:none;color:#E72520;">{标题}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="youth-window-group">
    <div class="youth-window-sub-group">
        <div class="youth-slide-list" style="flex-basis:0;flex-grow:1">
            <div frag="面板5">
                <div frag="窗口5">
                    <div class="youth-window-title">
                        <h3 class="youth-window-title-text" style="flex-grow:1">磐石工程</h3>
                        <div class="youth-window-more-btn" frag="按钮" type="更多"><span class="more_text" frag="按钮内容">更多&gt;&gt;</span>
                        </div>
                    </div>
                    <div class="youth-window-content">
                        <div frag="窗口内容">
                            <div style="display:flex;align-items:center;margin-top:10px">
                                <div class="article-title" style="flex-grow:1;">{标题}</div>
                                <div class="article-date">{发布时间}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="youth-slide-list" style="flex-basis:0;flex-grow:1">
            <div frag="面板6">
                <div frag="窗口6">
                    <div class="youth-window-title">
                        <h3 class="youth-window-title-text" style="flex-grow:1">专题专项</h3>
                        <div class="youth-window-more-btn" frag="按钮" type="更多"><span class="more_text" frag="按钮内容">更多&gt;&gt;</span>
                        </div>
                    </div>
                    <div class="youth-window-content">
                        <div frag="窗口内容">
                            <div style="display:flex;align-items:center;margin-top:10px">
                                <div class="article-title" style="flex-grow:1;">{标题}</div>
                                <div class="article-date">{发布时间}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="youth-window-sub-group">
        <div class="youth-slide-list" style="flex-basis:0;flex-grow:1">
            <div frag="面板7">
                <div frag="窗口7">
                    <div class="youth-window-title">
                        <h3 class="youth-window-title-text" style="flex-grow:1">思想引领</h3>
                        <div class="youth-window-more-btn" frag="按钮" type="更多"><span class="more_text" frag="按钮内容">更多&gt;&gt;</span>
                        </div>
                    </div>
                    <div class="youth-window-content">
                        <div frag="窗口内容">
                            <div style="display:flex;align-items:center;margin-top:10px">
                                <div class="article-title" style="flex-grow:1;">{标题}</div>
                                <div class="article-date">{发布时间}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="youth-slide-list" style="flex-basis:0;flex-grow:1">
            <div frag="面板9">
                <div frag="窗口9">
                    <div class="youth-window-title">
                        <h3 class="youth-window-title-text" style="flex-grow:1">校园榜样</h3>
                        <div class="youth-window-more-btn" frag="按钮" type="更多"><span class="more_text" frag="按钮内容">更多&gt;&gt;</span>
                        </div>
                    </div>
                    <div class="youth-window-content">
                        <div frag="窗口内容">
                            <div style="display:flex;align-items:center;margin-top:10px">
                                <div class="article-title" style="flex-grow:1;">{标题}</div>
                                <div class="article-date">{发布时间}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="youth-window-sub-group">
        <div class="youth-slide-list" style="flex-basis:0;flex-grow:1">
            <div frag="面板10">
                <div frag="窗口10">
                    <div class="youth-window-title">
                        <h3 class="youth-window-title-text" style="flex-grow:1">文化育人</h3>
                        <div class="youth-window-more-btn" frag="按钮" type="更多"><span class="more_text" frag="按钮内容">更多&gt;&gt;</span>
                        </div>
                    </div>
                    <div class="youth-window-content">
                        <div frag="窗口内容">
                            <div style="display:flex;align-items:center;margin-top:10px">
                                <div class="article-title" style="flex-grow:1;">{标题}</div>
                                <div class="article-date">{发布时间}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="youth-slide-list" style="flex-basis:0;flex-grow:1">
            <div frag="面板11">
                <div frag="窗口11">
                    <div class="youth-window-title">
                        <h3 class="youth-window-title-text" style="flex-grow:1">科技育人</h3>
                        <div class="youth-window-more-btn" frag="按钮" type="更多"><span class="more_text" frag="按钮内容">更多&gt;&gt;</span>
                        </div>
                    </div>
                    <div class="youth-window-content">
                        <div frag="窗口内容">
                            <div style="display:flex;align-items:center;margin-top:10px">
                                <div class="article-title" style="flex-grow:1;">{标题}</div>
                                <div class="article-date">{发布时间}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="youth-slide-list" style="flex-basis:0;flex-grow:1">
            <div frag="面板12">
                <div frag="窗口12">
                    <div class="youth-window-title">
                        <h3 class="youth-window-title-text" style="flex-grow:1">实践育人</h3>
                        <div class="youth-window-more-btn" frag="按钮" type="更多"><span class="more_text" frag="按钮内容">更多&gt;&gt;</span>
                        </div>
                    </div>
                    <div class="youth-window-content">
                        <div frag="窗口内容">
                            <div style="display:flex;align-items:center;margin-top:10px">
                                <div class="article-title" style="flex-grow:1;">{标题}</div>
                                <div class="article-date">{发布时间}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
<!--友情链接-->
<div class="youth-link-panel">
    <div class="youth-link-index">
        <a class="youth-link" href="http://www.seu.edu.cn">东南大学</a>
        <a class="youth-link" href="http://my.seu.edu.cn">东南大学校园信息门户</a>
        <a class="youth-link" href="http://jwc.seu.edu.cn">教务处</a>
        <a class="youth-link" href="">东南大学网络与信息中心</a>
        <a class="youth-link" href="">中国共青团网</a>
    </div>
</div>
<!--    版权标识-->

<div class="youth-copyright-panel">
    <p class="youth-copyright-text">中国共青团东南大学委员会©版权所有</p>
    <p class="youth-copyright-text">备案序号：苏ICP证201008206600号</p>
</div>
</body>
<script>
  $(document).ready(function(){
    $('.timer').click();
    $('.timer').css('display', 'none');
    setInterval(function(){
      $('span.right').click();
    }, 6000);
    $('span.right').css('background','url(/_upload/tpl/05/e8/1512/template1512/img/slide_next.png) no-repeat');
    $('span.left').css('background','url(/_upload/tpl/05/e8/1512/template1512/img/slide_previous.png) no-repeat');
$('span.left').css('left',40);

  })
</script>
<link type="text/css" href="css/main.css" rel="stylesheet"/>
</html>
