<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>东南大学校团委</title>
    <link type="text/css" href="/css/main.css" rel="stylesheet"/>
</head>

<body>
    <!--背景大红幕布-->
    <div id="red-ground"></div>
    <!--标题部分-->
    <div id="youth-head">
        <img id="youth-page-icon" src="/img/icon.png" alt="团徽校徽"/>
        <img id="youth-page-title" src="/img/text.png" alt="标题"/>
    </div>
<!--导航栏-->
    <div class="youth-guide" frag="面板1">
        <div class="youth-guide-index" frag="窗口1">
            <div frag="窗口内容">
                <span>首页</span>
                <span>组织机构</span>
                <span>重要精神</span>
                <span>科技创新</span>
                <span>社会实践</span>
                <span>双争优专栏</span>
                <span>其他内容</span>
            </div>
        </div>
        <div id="youth-guide-bar"></div>
    </div>
<!--    轮播图和最新公告     -->
    <div class="youth-group-figure-info">
<!--        轮播图-->
        <div class="youth-figure" frag="面板2">
            <div frag="窗口2">
                <div frag="窗口内容"></div>
            </div>
        </div>
        
<!--        最新公告-->
        <div class="youth-panel youth-latest-info" frag="面板3">
            <div frag="窗口3">
                <div class="youth-latest-info-head">
                    <span class="youth-latest-info-title" frag="标题">
                        <span frag="标题内容">标题内容</span>
                    </span>
                </div>
                <div class="youth-latest-info-body">
                    <!--[InfoCycleBegin]-->
                    <div class="youth-latest-info-item">
                        <p class="youth-latest-info-item-title">{标题}</p>
                        <br/>
                        <p class="youth-latest-info-item-date">{日期}</p>
                    </div>
                    <!--[InfoCycleEnd]-->
                </div>
                
            </div>
        </div>
        
    </div>
</body>
</html>