body{
    font-family: "Microsoft Yahei";
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    margin: 0px;
}

/*头图相关*/
.youth-banner-background{
    width:100%;
    background-color: #FF2F00;
    display: flex;
    justify-content: center;
    
}

/*导航栏相关*/
.youth-nav-background{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E85000;
}

.youth-nav{
    width: 1000px;
    display:flex;
    justify-content:center;

}

.wp_nav .nav-item{
    background-color: #E85000;
    height: 40px;
    width: 111px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wp_nav .nav-item :hover {
    background-color: #FCBE00;
 color:#614900;
}

.wp_nav .item-name{
    color:#FFFFFF;
    font-size: 18px;
}

.wp_nav .sub-nav .item-name{
    color: #FFFFFF;
    font-size: 13px;
}
.youth-nav .wp_nav { display:block; margin: 0; padding: 0;display: block; *zoom:1; height:40px;}
.youth-nav .wp_nav * {margin: 0; padding: 0}
.youth-nav .wp_nav:after {clear: both;content: ".";display: block;height: 0;visibility: hidden;}
.youth-nav .wp_nav .nav-item { display:inline-block; float:left; position:relative; vertical-align:bottom;}
.youth-nav .wp_nav .on { z-index:10; color:#000000;background-color:#FCBE00;}
.youth-nav .wp_nav .nav-item .mark {display:none; width:100%; height:100%; position:absolute; left:0;top:0; z-index:99; }
.youth-nav .wp_nav .nav-item a{ font-family:"Microsoft Yahei"; display:block;text-align:center;position:relative; z-index:100;height:40px;}
.youth-nav .wp_nav .nav-item a.parent:hover{}
.youth-nav .wp_nav .nav-item a.parent {color:#000;}
.youth-nav .wp_nav .nav-item a span.item-name { display:inline-block; padding:0px 10px; line-height:40px;cursor:pointer;width:90px;font-size:18px;padding-top:0px;padding-bottom:0px;}
.youth-nav .wp_nav .on .nav-item a span.item-name:hover {color:#614900;}
.youth-nav .wp_nav .sub-nav {display:block; width:100%; position:absolute; z-index:200; visibility:hidden; border:0px solid #ccc;border-top:none;background-color:rgba(0,0,0,0);top:40px !important;}
.youth-nav .wp_nav .sub-nav .nav-item { white-space:nowrap; width:111px !important;height:40px !important; background-color:rgba(0,0,0,0); border-width:0;}
.youth-nav .wp_nav .sub-nav .nav-item .mark { background:#fff;}
.youth-nav .wp_nav .sub-nav .nav-item a {font-family:"Microsoft Yahei"; font-size:13px;font-weight:normal; color:#000;text-align:left;border-top:0px solid #D8E1CC;min-width: 80px;background-color:rgba(232,80,0,0.76);}
.youth-nav .wp_nav .sub-nav .nav-item a.parent:hover{ background:#eee;color:#000;}
.youth-nav .wp_nav .sub-nav .nav-item a.parent { background:#eee;color:#000;}
.youth-nav .wp_nav .sub-nav .nav-item a span.item-name { padding:0px 11px; line-height:40px;font-size:14px;}
.youth-nav .wp_nav .sub-nav .nav-item a span.item-name:hover { padding:0px 10px; padding-left:5px;border-style:solid; border-color:#614900; border-width:0 0 0 5px; line-height:40px;font-size:14px; color:#614900;}
.youth-nav .wp_nav .nav-item a.parent:hover span.item-name{}
.youth-nav .wp_nav .nav-item a.parent span.item-name{}
.youth-nav .wp_nav .sub-nav .nav-item a.parent:hover span.item-name{}
.youth-nav .wp_nav .sub-nav .nav-item a.parent span.item-name{}

/*！包含媒体查询的内容*/
