body{
    font-family: Avenir Next,Noble Scarlet,PingFang SC,Microsoft YaHei UI,sans-serif;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    margin: 0px;
    font-size: 14px;
}

/*头图相关*/
.youth-banner-background{
    width:100%;
    background-color: #E72520;
    display: flex;
    justify-content: center;

}

/*导航栏相关*/
.youth-nav-background{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #C8161D;
}

.youth-nav{
    width: 1200px;
    display:flex;
    justify-content:center;

}

.wp_nav .nav-item{
    background-color: #C8161D;
    height: 40px;
    width: 111px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wp_nav .nav-item :hover {
    background-color: #FCBE00;
    color:#614900;
}

.wp_nav .item-name{
    color:#FFFFFF;
    font-size: 14px;
}

.wp_nav .sub-nav .item-name{
    color: #FFFFFF;
    font-size: 13px;
}
.youth-nav .wp_nav { display:block; margin: 0; padding: 0;display: block; *zoom:1; height:40px;}
.youth-nav .wp_nav * {margin: 0; padding: 0}
.youth-nav .wp_nav:after {clear: both;content: ".";display: block;height: 0;visibility: hidden;}
.youth-nav .wp_nav .nav-item { display:inline-block; float:left; position:relative; vertical-align:bottom;}
.youth-nav .wp_nav .on { z-index:10; color:#000000;background-color:#FCBE00;}
.youth-nav .wp_nav .nav-item .mark {display:none; width:100%; height:100%; position:absolute; left:0;top:0; z-index:99; }
.youth-nav .wp_nav .nav-item a{ font-family:Avenir Next,Noble Scarlet,PingFang SC,Microsoft YaHei UI,sans-serif; display:block;text-align:center;position:relative; z-index:100;height:40px;}
.youth-nav .wp_nav .nav-item a.parent:hover{}
.youth-nav .wp_nav .nav-item a.parent {color:#000;}
.youth-nav .wp_nav .nav-item a span.item-name { display:inline-block; padding:0px 10px; line-height:40px;cursor:pointer;width:90px;font-size:14px;padding-top:0px;padding-bottom:0px;}
.youth-nav .wp_nav .on .nav-item a span.item-name:hover {color:#614900;}
.youth-nav .wp_nav .sub-nav {display:block; width:100%; position:absolute; z-index:200; visibility:hidden; border:0px solid #ccc;border-top:none;background-color:rgba(0,0,0,0);top:40px !important;}
.youth-nav .wp_nav .sub-nav .nav-item { white-space:nowrap; width:111px !important;height:40px !important; background-color:rgba(0,0,0,0); border-width:0;}
.youth-nav .wp_nav .sub-nav .nav-item .mark { background:#fff;}
.youth-nav .wp_nav .sub-nav .nav-item a {font-family:Avenir Next,Noble Scarlet,PingFang SC,Microsoft YaHei UI,sans-serif; font-size:13px;font-weight:normal; color:#000;text-align:left;border-top:0px solid #D8E1CC;min-width: 80px;background-color:rgba(232,80,0,0.76);}
.youth-nav .wp_nav .sub-nav .nav-item a.parent:hover{ background:#eee;color:#000;}
.youth-nav .wp_nav .sub-nav .nav-item a.parent { background:#eee;color:#000;}
.youth-nav .wp_nav .sub-nav .nav-item a span.item-name { padding:0px 11px; line-height:40px;font-size:14px;}
.youth-nav .wp_nav .sub-nav .nav-item a span.item-name:hover { padding:0px 10px; padding-left:5px;border-style:solid; border-color:#614900; border-width:0 0 0 5px; line-height:40px;font-size:14px; color:#614900;}
.youth-nav .wp_nav .nav-item a.parent:hover span.item-name{}
.youth-nav .wp_nav .nav-item a.parent span.item-name{}
.youth-nav .wp_nav .sub-nav .nav-item a.parent:hover span.item-name{}
.youth-nav .wp_nav .sub-nav .nav-item a.parent span.item-name{}

/*！导航栏相关*/

.youth-slide-panel{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f5f5f5;
    align-items: center;
}
/* 轮播图相关*/
.youth-slide-background{
    width: 100%;
    height: 400px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.youth-slide {
    width: 1200px;
    height: 400px;
}
/*！ 轮播图相关*/

.youth-slide-list{
    margin: 20px;
}

.youth-slide-sub{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 40px;
    padding-bottom: 10px;
    padding-top: 0px;
    width:100%;
    max-width: 1280px;
}

.youth-window-title-text{
    font-size: 18px;
    padding-left: 50px;
    color: #333333;
    padding-top: 0px;
    margin-top: 15px;
}

.youth-window-title{
    border-color: #E72520;
    display: flex;
    align-items: baseline;
    height: 50px;
    padding-bottom: 0px;
    margin-bottom: 5px;
    background: url(/_upload/tpl/05/e8/1512/template1512/img/small-title-background.png);
    background-repeat:no-repeat;
    background-position: center left;
    background-size:200px 40px;
}

.youth-big-window-title{
    display: flex;
    align-items: baseline;
    height: 50px;
    padding-bottom: 0px;
    margin-bottom: 5px;
    background: url(http://i2.bvimg.com/640543/b111e9bd90d87ddc.png);
    background-repeat:no-repeat;
    background-position: center left;
    background-size:200px 40px;
}

.youth-big-window-title .youth-window-title-text{
    font-size: 18px;
    padding-left: 70px;
    color: #f4f4f4;
    padding-top: 0px;
    margin-top: 12px;
}

.youth-window-more-btn span{
    color: #E72520;
    text-decoration: none;
}

.youth-window-more-btn a{
    color: #E72520;
    text-decoration: none;
    font-size: 14px;
}

.youth-window-content{
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.notification-title a{
    text-decoration: none;
    color:#E72520;
    font-size: 14px;
}

.article-title a{
    text-decoration: none;
    color:#333333;
    font-size: 14px;
    flex-grow: 1;
}

.article-pic img{
  width: 200px;
}

.article-mix-title a{
    text-decoration: none;
    color:#333333;
    font-size: 14px;
    flex-grow: 1;
    font-weight: bolder;
}

.article-abstract a{
  text-decoration: none;
  color:#4f4f4f;
  font-size: 14px;
}

.article-date{
    text-decoration: none;
    color:#4f4f4f;
    font-size: 14px;
    flex-shrink: 0;
    margin-left: 6px;
}

.youth-window-group{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1280px;
    align-items: center;
}

.youth-window-sub-group{
     display: flex;
     justify-content: center;
     padding: 0px 40px 0px 40px;
     max-width: 1280px;
     width: 100%;
}

.youth-link-index{
    width: 80%;
    background-color: #FAFAFA;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
}

.youth-link-panel{
    width: 100%;
    background-color: #FAFAFA;
    display: flex;
    justify-content: center;
}

.youth-link-panel a {
    text-decoration: none;
    font-size: 14px;
    color:#4F4F4F;
}

.youth-copyright-panel{
    background-color: #E72520;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 7px;
}

.youth-copyright-text{
    color: #F4F4F4;
    margin: 7px;
}

.youth-mix-content
{
  display:flex;
  flex-direction:column;
  align-items:flex-start;
  padding:10px;
}

.youth-mix-content .article-title{
  font-size: 18px;
  font-weight: bolder;
}

.youth-article {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  max-width: 1000px;
}

.youth-article .article-title{
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  padding: 40px 0 20px 0;

}

.youth-article span {
  font-size: 14px!important;
}

.youth-article .article-detail{
  display: flex;
  justify-content: space-around;
  padding-bottom:10px;
}

.youth-article .article-detail div{
  font-size: 14px;
  color:#888888;
}

.mix-content-list tr{
  display: flex;
}

.listcoloumn-body{
  display: flex;
  width: 80%;
  padding: 40px 40px 40px 40px;
  flex-direction: column;
  justify-content: flex-start;
}

span.Column_Name{
  font-size: 18px!important;
  font-weight: bolder!important;
  color: #333333!important;
}

.wp_article_list .list_item .Article_Index{
  display: none!important;
}

.wp_article_list .list_item {
  border-bottom: none!important;
}

.Article_Title a {
  text-decoration: none!important;
  color: #222222!important;
  font-size: 14px;
}
